<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mobigen.afnas.user.UserMapper">

	<select id="getUser" parameterType="UserModel" resultType="UserModel">
		SELECT A.USER_ID as userId
		,A.PWD as password
		,A.USER_NAME AS name
		,A.COMMAND_AUTHOR AS commandAuthor
		,A.EMAIL AS email
		,A.MOBILEPHONE AS mobilephone
		,A.TELEPHONE AS telephone
		,A.REG_DT AS regDt
		,A.DESCR AS descr
		FROM CM_USER A
		WHERE USER_ID = #{userId}
	</select>
	
	
	<insert id="addUser" parameterType="UserModel" flushCache="true">
		INSERT INTO CM_USER
		( USER_ID
		,PWD
		,USER_NAME
		,COMMAND_AUTHOR
		,EMAIL
		,MOBILEPHONE
		,TELEPHONE
		,REG_DT
		,DESCR
		)
		VALUES
		(#{userId}
		,#{password}
		,#{name}
		,2
		,#{email}
		,#{mobilephone}
		,#{telephone}
		,SYSDATE()
		,null
		)
	</insert>

	<update id="updateUser" parameterType="UserModel" flushCache="true">
		UPDATE CM_USER SET PWD=#{password} WHERE USER_ID=#{userId}
	</update>

	<select id="duplicateCheckUser" parameterType="UserModel"
		resultType="Integer" useCache="false">
		SELECT COUNT(*)
		FROM CM_USER
		WHERE UPPER(TRIM(USER_ID))= UPPER(TRIM(#{userId}))
	</select>
	
	<select id="checkEncryptPassword" parameterType="UserModel" resultType="String">
		SELECT PWD FROM CM_USER
		WHERE USER_ID=#{userId}
	</select>

</mapper>